/* 出现滚动条 */
body { margin: 0; padding: 0; height: 5000px; }

#back {
  visibility: hidden; /* 默认隐藏 */
  position: fixed; /* 固定位置 */
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: pink;
  text-align: center;
  font-size: 14px;
  cursor: default;
}

/* 可见宽度的最底部 */
p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: skyblue;
}